@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white; /* Use the color value you prefer */
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  @apply bg-slate-500;  /* Change the color as needed */
  border-radius: 4px; /* Adjust the border radius as needed */
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #357abd; /* Change the hover color as needed */
}


/* Add this class for the full-screen overlay effect */
.full-screen-overlay {
  position: fixed;
  top: 9;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67); /* Semi-transparent black background for overlay effect */
  z-index: 1000; /* Make sure it's on top of other elements */
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-right: 30px;
}
